.title-welcome {
    color: #D9D9D9;
    text-align: center;
    padding: 2rem;
}

.input-group_gap {
    margin-bottom: 1rem;
}

.strong-des {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.hide-element {
    display: block;
}

.form-check-container {
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

input[type="radio"] {
    background-color: grey;
}

.canvas-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.speedometer-description {
    display: block;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
}

.plot-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

@media (min-width: 768px) {
    .hide-element {
        display: none;
    }
}

@media (max-width: 500px) {

    .title-welcome {
        font-size: 1rem;
    }

    .plot-img {
        width: 350px;
        height: 150;
    }

}